@tailwind base;
@tailwind components;
@tailwind utilities;

/* Sistema de diseño HSL */
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --primary: 187 85% 53%;
    --primary-foreground: 0 0% 100%;
    --accent: 187 85% 88%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --border: 214.3 31.8% 91.4%;
    --radius: 0.75rem;
  }

  *, *::before, *::after {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  a:hover {
    @apply text-accent;
  }

  iframe {
    @apply border border-border;
  }
}
